{% for rec in partialsRecords %}
    <!-- Product -->
    <div class="product  col-md-4">
        <article><img class="img-responsive" src="{{ rec.image| resize(242, 242, { mode: 'crop', quality: '60' }) }}"
                      alt="">
            {% if rec.is_selected ==1 %}
                <span class="sale-tag">{{ 'Select'|_ }}</span>
            {% endif %}


            <!-- Content -->
            <span class="tag">{{ rec.cartegory.name }}</span>
            <a href="{{ 'product-detail'|page({ slug: rec.slug })  }}" class="tittle">{{ rec.title }}</a>
    </div>
{% endfor %}

<div style="float: left; width: 100%; padding-left: 15px;">
    <!-- pagination -->
    {{ partialsRecords.render|raw }}
</div>
